@model IEnumerable<Department>

<div class="d-flex justify-content-between p-3">
  <h3>Departments</h3>
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Department
  </button>
</div>

<div class="card">
  <div class="card-body p-2 rounded-4">
    <table class="table rounded-4">
      <thead>
        <tr>
          <th>No</th>
          <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
          <th>@Html.DisplayNameFor(model => model.Description)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @{
          int counter = 1;
        }
        @foreach (var item in Model)
        {
          <tr>
            <td>@counter</td>
            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
              <div class="dropdown rounded-4">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu rounded-4">
                  <li>
                    <button type="button" class="dropdown-item text-secondary" data-bs-toggle="modal"
                      data-bs-target="#staticBackdropDetail_@item.ID">
                      <i class="fas fa-info-circle mr-2"></i>Details
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item text-warning" data-bs-toggle="modal"
                      data-bs-target="#staticBackdropEdit_@item.ID">
                      <i class="fas fa-pen mr-2"></i>Edit
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal"
                      data-bs-target="#staticBackdropDelete_@item.ID">
                      <i class="fas fa-trash mr-2"></i>Delete
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>

          <!-- Modal for Delete -->
          <div class="modal fade" id="staticBackdropDelete_@item.ID" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title fs-5">
                    Delete Department (@item.DepartmentName)
                  </h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                  <p>This action cannot be undone. The data will be permanently deleted.</p>
                </div>
                <form asp-action="Delete" asp-route-id="@item.ID" method="post">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Modal for Details -->
          <div class="modal fade" id="staticBackdropDetail_@item.ID" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title fs-5">
                    Department Details (@item.DepartmentName)
                  </h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                  <partial name="_Detail" model="item" />
                </div>
              </div>
            </div>
          </div>

          <!-- Modal for Edit -->
          <div class="modal fade" id="staticBackdropEdit_@item.ID" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title fs-5">
                    Edit Department (@item.DepartmentName)
                  </h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                  <partial name="_Edit" model="item" />
                </div>
              </div>
            </div>
          </div>

          counter++;
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Modal for Create -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fs-5" id="staticBackdropLabel">
          Add Department
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0">
        <partial name="_Create" model='new Department { DepartmentName = "", Description = "" }' />
      </div>
    </div>
  </div>
</div>
