@model Customer


<dl class="row mt-2">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.CustomerId)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.CustomerId)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Income)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Income)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Expense)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Expense)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.IdCard)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.IdCard)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.PasswortNo)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.PasswortNo)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Gender)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Gender)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Created)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Created)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Updated)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Updated)
    </dd>
</dl>
</div>
