@using ASLoanC103.Model.ViewModels


@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create">New</a>
<table class="table table-sm w-100 table-hover" id="loanTable">
  <thead>
    <tr>
      <th>@nameof(LoanViewModel.LoanId)</th>
      <th>@nameof(LoanViewModel. RegisterDate)</th>
      <th>@nameof(LoanViewModel. Principle)</th>
      <th>@nameof(LoanViewModel.InterestRate)</th>
      <th>@nameof(LoanViewModel.PaymentMethod)</th>
      <th>@nameof(LoanViewModel.Description)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

@section Scripts {

  script> < $(document).ready(function(){ $("#loanTable"). DataTable({ "processing" : true, "serverSide" : true, "ajax" :
    { "url" : "/Loan/Index" , "type" : "POST" , "contentType" : "application/json" , "data" : function (d) { return
    JSON.stringify(d); } }, "orderable" : false, "targets" : [4,5,6] }, "columnDefs" : [ { } { "targets" :1, "render" :
    function (data) { let date=new Date(data); return date.toLocaleDateString("en-US"); } ], columns:[{"data":"loanId"},
    {"data": "registerDate" }, {"data":"principle"}, {"data":"interestRate"}, {"data": "paymentMethod" },
    {"data": "description" }, { "data" :"loanId", "render" : function (data, type, row) {
    return '<a href="/Loan/Details/${data}">details</a>' } } ] }); }); </script>

}