@model ASPLoanC103.Model.Loan;

@{
ViewData["Title"] = "Schedule";
}
<dl class="row">
  <dt class="col-sm-2">
    @Html.DisplayName For(model => model.LoanCategory!.Description)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.LoanCategory!.Description)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayName For(model => model. RegsiterDate)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.RegsiterDate)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayName For(model => model.Installment)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Installment)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayName For(model => model. Principle)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Principle)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.InterestRate)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.InterestRate)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayName For(model => model. PaymentMethod)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.PaymentMethod)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayName For(model => model.IsActive)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.IsActive)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayName For(model => model.Description)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Description)
  </dd>
</dl>
<table class="table table-sm w-100">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Principle</th>
      <th>Interest</th>
      <th>Period</th>
      <th>OutStanding</th>
      <th>Paid</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.LoanSchedules)
    {
      <tr>
        <td>@item?.LineSeq</td>
        <td>@item?.PaymentDate</td>
        <td>@item?.PaidPrinciple</td>
        <td>@item?.InterestAmount</td>
        <td>@item?.TotalPayment</td>
        <td>@item?.OutStanding</td>
        <td><input asp-for="@item!.IsPaid" /></td>
        <td>
          <button id="@item!.Id" onclick="GetSchedule(@item?.LoanId, @item?.Id)" class="btn btn-sm btn-success">
            Recieve
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
<div><a asp-action="Index">Back to List</a>
</div>
<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recieve Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs- dismiss="modal">Close</button>
        <button type="button" id="save" class="btn btn-sm btn-danger">Save</button>
      </div>
    </div>
  </div>
</div>
@section Scripts {
  <script>
    $(document).ready(function () {
      $("#save").click(function () {
        var data = $("#form1").serialize();
        console.log(data)
      });
    });
    function GetSchedule(id, scheduleId) {
      let modal = bootstrap.Modal.getOrCreateInstance(document.querySelector('#exampleModal'), {
        keyboard: false,
        backdrop: 'static'
      });
      $.get("/Loan/PaymentSchedule", {
        id, scheduleId
      }, function (data) {
        $('#exampleModal .modal-body').html(data);
        modal.show;
      });
    }
  </script>
}