@model IEnumerable<ASPLoanMSC103.Model.LoanSchedule>

<table class="table table-sm w-100">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Principle</th>
      <th>Interest</th>
      <th>Period</th>
      <th>OutStanding</th>
      <th>Paid</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.LineSeq</td>
        <td>@item.PaymentDate?.ToString("yyyy-MM-dd")</td>
        <td>@item.PaidPrinciple</td>
        <td>@item.InterestAmount</td>
        <td>@item.TotalPayment</td>
        <td>@item.OutStanding</td>
        <td><input asp-for="@item.IsPaid" /></td>
        <td>
          @if (item.IsPaid)
          {
            <a asp-action="Details" asp-route-loanId="@item.LoanId" asp-route-scheduleId="@item.Id"
              asp-controller="Payment">
              Details
            </a>
          }
          else
          {
            <button id="@item.Id" onclick="GetSchedule(@item.LoanId, @item.Id)"
              class="btn btn-sm @(item.IsPaid ? "btn-success" : "btn-danger")">
              @(item.IsPaid ? "Paid" : "Receive")
            </button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>